body {
    color: purple;
}

textarea {
    border: none;
}

textarea:focus-visible {
    outline: none;
}

.sec1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.626);
    border: 1px dashed rgba(92, 0, 92, 0.272);
    box-shadow: 0 0 100px white;
}

.box {
    padding: 30px;
    border-radius: 12px;

}

.box h3 {
    margin-bottom: 20px;
}

.center_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center_box button {
    padding: 5px 60px;
    border-radius: 10px;
    border: 3px solid #f4c2c2;
    background-color: #fffafa;
    color: purple;
}



.sec2 {
    flex-direction: column;
    align-items: center;
}

.back_color {
    background: linear-gradient(45deg, #ffffff, #f4c2c2);
    box-shadow: 10px 10px 30px rgba(189, 189, 189, 0.591);
    border: 20px solid rgba(255, 255, 255, 0.247);
}

.outer {
    width: 100%;
    margin: auto;
    background: radial-gradient(white, #dcfeff);
    border-radius: 12px;
    padding: 30px;
    margin-top: 20px;
}

.d_backGround {
    background: #2c2c2c !important;
    color: white !important;
}

.d_color {
    color: white !important;
}

.my_slider {
    height: 500px;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.loop_prt {
    background: linear-gradient(to right, black, gray);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
}

.loop {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #eae596;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.192);
    flex-wrap: wrap;
    gap: 80px;
}

.imgLable {
    width: fit-content;
    padding: 100px 200px;
    border-radius: 10px;
    background-color: rgba(240, 220, 255, 0.469);
    border: 1px dashed;
    display: block;
    margin: 20px auto;
    color: black;
    position: relative;
}

.imgPreview {
    width: fit-content;
    margin: 30px auto;
    border-radius: 20px;   
    cursor: pointer;
}

.imgPreview:hover {
    position: relative;
    top: -5px;
}

.imgPreview img {
    border-radius: 10px;
}