body {
    background: url("/public/images/WallpaperDog-11027692.jpg");
    background-size: cover;
    font-family: 'Julius Sans One', sans-serif;
}


/* 
Light Lime: #abd699

Fresh Lemon: #ffe26a

Teal: #75c9b7

Mint: #c7ddcc

Navy: #16123f */


.imgLable {
    width: fit-content;
    padding: 100px 200px;
    border-radius: 10px;
    background-color: #abd69931;
    border: 1px dashed;
    display: block;
    margin: 20px auto;
    color: black;
    position: relative;
}

.imgPreview {
    width: fit-content;
    margin: 30px auto;
    border-radius: 20px;
    cursor: pointer;
}

.imgPreview:hover {
    position: relative;
    top: -5px;
}

.imgPreview img {
    border-radius: 10px;
}

.deleteIcon {
    background-color: rgba(255, 255, 255, 0.756);
    padding: 10px;
    height: fit-content;
    position: relative;
    right: 32px;
    border-radius: 10px;
    font-size: medium;
    color: rgb(209, 6, 6);
    box-shadow: 0 0 20px rgb(50, 50, 50);
}

.deleteIcon:hover {
    background-color: white;
    font-size: large;
    right: 35px;
}

.editImage img {
    max-height: 500px;
    display: block;
    margin: auto;
    border: 20px solid rgba(255, 255, 255, 0.575);

}

.editImage {
    background: rgba(255, 255, 255, 0.321);
}

/* 
Light Lime: #abd699

Fresh Lemon: #ffe26a

Teal: #75c9b7

Mint: #c7ddcc

Navy: #16123f */


.heading {
    background: -webkit-linear-gradient(#18a558, darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}